body {
	font-family: sans-serif;
	text-align: center;
	background: linear-gradient(to right, khaki, white, khaki);
}

p {
	font-size: 10px;
}

h1 {
	font-size: 100px;
	/*color: blue;*/
}

.page {
	position: relative;
	top: 20vh;
	height: 90vh;
}

.to {
	font-size: 25px;
}
.contact {
	padding: 10vh;
}

.eto li {
	font-size: 30px;
	padding: 10px;
	list-style-type: none;
}

.eto {
	background: rgba(240,230,140, 0.5);
}
